<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cardam.cardam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cardam"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cardam_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="cardam.cardam.MainActivity"
            android:id="@+id/mainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cardam.cardam.RegnumActivity"
            android:label="@string/title_activity_add_measurement"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cardam.cardam.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cardam.cardam.MainActivity" />
        </activity>

        <activity
            android:name="cardam.cardam.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cardam.cardam.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="cardam.cardam.MainActivity" />
        </activity>
        <activity
            android:name="cardam.cardam.RestorePassActivity"
            android:label="@string/title_activity_restore_pass"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cardam.cardam.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cardam.cardam.MainActivity" />
        </activity>
        <activity
            android:name="cardam.cardam.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cardam.cardam.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cardam.cardam.MainActivity" />
        </activity>
        <activity
            android:name="cardam.cardam.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="cardam.cardam.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cardam.cardam.MainActivity" />
        </activity>


    </application>

</manifest>